body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.form {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    width: 102%;
}

input {
    width: 100%;
    margin-top: 20px;
}

input[type=button] {
    width: 100px;
}

input[type=button], select {
    cursor: pointer;
}

.response {
    margin-top: 50px;
}